{% extends 'base.html' %}


{% block body %}

    <div>
        <h1>Hello, World!</h1>
        <p>Hi {{ user.name }}! I today is DDMMYYYY!</p>
    </div>    

    <div>
        <h5>
            quote viewer
            
        </h5>
    </div>
        <h1>
            My Journal
        </h1>
        <p>
            Click here for journal:
            <form action="/journal">
                <button type="submit">Journal</button>
             </form>
        </p>

{% endblock %}















