{% extends 'base.html' %}

{% block title %} MY JOURNALS {% endblock %}

{% block body %}
<div class = "container">
    <div class = "row">
        <div class = "jumbotron p-3">
            <h2> My <b> Journals </b> </h2>
            <table>
                <tr>
                  <th>Company</th>
                  <th>Contact</th>
                  <th>Country</th>
                </tr>
                <tr>
                  <td>Alfreds Futterkiste</td>
                  <td>Maria Anders</td>
                  <td>Germany</td>
                </tr>
                <tr>
                  <td>Centro comercial Moctezuma</td>
                  <td>Francisco Chang</td>
                  <td>Mexico</td>
                </tr>
              </table> 

              {% endblock %}

              {% block content %}
              <div class = "row">
                <div class = "jumbotron p-3">
                    <h2> My <b> Journals </b> </h2>
                    <table>
                        <tr>
                          <th>Company</th>
                          <th>Contact</th>
                          <th>Country</th>
                        </tr>
                        <tr>
                          <td>Alfreds Futterkiste</td>
                          <td>Maria Anders</td>
                          <td>Germany</td>
                        </tr>
                        <tr>
                          <td> </td>
                          <td> /td>
                          <td> </td>
                        </tr>
                      </table>

              {% endblock content %}







