{% extends 'base.html' %}

{% block title %} 
{{ user.name }}'s Journal -
{% endblock %}

{% block body %}


<div class="table-responsive">
<table class="table table-dark table-hover">
  <caption> Entry Count: {{journals|length}}
  </caption>
  <thead>
    <tr class="bg-info">
      <th scope="col">DATE</th>
      <th scope="col">TIME</th>
      <th scope="col">MOOD</th>
      <th scope="col">ENTRY</th>
    </tr>
    </thead>
  <tbody>
      <th scope="row">
      {% for entry in journals %} 

      <tr>
      <td>{{entry.date}}</td>
      <td>{{entry.time}}</td>
      <td>{{entry.mood}}</td>
      <td style="white-space: nowrap;text-overflow: ellipsis; width: 400px;display: block;overflow: hidden"> <a href="/view_entry/{{entry.journal_id}}">{{entry.body_data}} </a></td>
      </tr>
    
    {% endfor %}
</tbody>
    
</table>
</div>




<!-- <div class = "journal-entries">
    <div class = "row">
        <div class = "jumbotron p-4">
            <h2>{{ user.name }}'s <b> Journal </b> </h2>
            <table class="table table-dark" border="1" style="width: 100%;">
              <tr>
                <th>DATE</th>
                <th>TIME</th>
                <th>MOOD</th>
                <th>ENTRY</th>
              </tr>
              {% for entry in journals %} 

              <tr>
              <td>{{entry.date}}&nbsp;&nbsp;</td>
              <td>{{entry.time}}</td>
              <td>{{entry.mood}}</td>
              <td style="white-space: nowrap;text-overflow: ellipsis; width: 300px;display: block;overflow: hidden"> <a href="/view_entry/{{entry.journal_id}}">{{entry.body_data}} </a></td>

              <td><td>
              </tr>
            {% endfor %} -->

              </table> 
              <div class="new-entry-button">
                <br>
                <p>
                  Click Here To Add a New Entry:
                  <form action="/new_entry">
                      <button type="submit" class="btn btn-info btn-lg">NEW ENTRY</button>
                  </form>
                </p>
            </div>


              {% endblock %}

             