{% extends 'base.html' %}


{% block body %}
    <div>
        <h1>
            enter your thoughts below ...
        </h1>
        <p>
            <form method = "POST" action="/new_entry">

                <label for="fname">date:</label><br>
                <input type="text" id="date" name="date" value="mm/dd/yy"><br>
                <label for="lname">time:</label><br>
                <input type="text" id="time" name="time" value="00:00"><br>
                <label for="lname">mood:</label><br>
                <input type="text" id="mood" name="mood" value="happy? sad?"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="body" name="body" value="enter your thoughts..."><br><br>
                <button type="submit">Add Entry</button>

              </form> 
            
              
          
        </p>
    </div>
        {% endblock %}
















</html>